.row-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.16rem;
}

.cabin-container {
  /* width: 172px; */
  width: 326px;
  margin: 0 auto;
  border: 1px dashed #969696;
  background: white;
  padding-bottom: 4px;
}

.cabin-class-title {
  text-align: center;
  padding: 0.6rem;
}

.padding-vertical--1-6 {
  padding: 1.6rem 0;
}

.seat-map-horizontal-container {
  transform: rotate(90deg) translateX(-234px);
}

.seat-map-height-container {
  height: 361px;
  overflow: hidden;
}

.--bg-f2f2f2 {
  background: #f2f2f2;
}
